body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2vh;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 34px;
  height: 28px;
  left: 30px;
  top: 35px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f7f5f5;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f3f3f3;
  width: 1em;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  margin-top: -40px;
  position: fixed;
  /* background-color: dodgerblue; */
  opacity: 95%;
  z-index: -1;
}

/* General sidebar styles */
.bm-menu {
  background: #020202;
  opacity: 95%;
  padding: 1.5em 1.5em;
  font-size: 1.45em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #0c0a0a;
  opacity: 90%;
  padding: 0em 5.5em;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
/* .bm-overlay {
    background: rgba(160, 5, 5, 0.938);
  } */

/* Individual item */
.bm-item {
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  /* transition: color 0.8s; */
}

.bm-item:hover {
  color: #b8b5cf;
}
